/*
Client: CY BUILDING PTY LTD
Author: Josh SHEN & Alex LIU
Author URI: http://www.www.com.au
Description: Nothing yet
Version: 1.0
License: All plug-ins are with MIT License
Tags: Dark cold colour scheme
*/
/*===========================================================
											MAIN SETUPS
===========================================================*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
@font-face { font-family: "lcfont"; src: url("font/AvenirNextLTPro-Regular.otf"); }
/************************************
		Colour Scheme Selection
************************************/
/************************************
		Other Color Style
************************************/
/************************************
		Font Style Setup
************************************/
/* line 51, sass/style.scss */
* { font-family: "lcfont","Helvetica Neue","Helvetica","Arial",sans-serif; }

/*===========================================================
											PREFIX & RESET
===========================================================*/
/************************************
		CSS3 Prefix
************************************/
@-webkit-keyframes fadeup { 0% { opacity: 0; -webkit-transform: translateY(1rem); transform: translateY(1rem); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes fadeup { 0% { opacity: 0; -webkit-transform: translateY(1rem); transform: translateY(1rem); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }
/* line 156, sass/style.scss */
.anim_fadeup { -webkit-animation: fadeup 1200ms ease forwards; animation: fadeup 1200ms ease forwards; }

/* line 160, sass/style.scss */
.anim_fadein { -webkit-animation: fadein 1200ms ease forwards; animation: fadein 1200ms ease forwards; }

/* line 164, sass/style.scss */
.anim_fadein--quick { -webkit-animation: fadein 400ms ease forwards; animation: fadein 400ms ease forwards; }

/* line 168, sass/style.scss */
.anim_fadein--nav { -webkit-animation: fadein 2000ms ease forwards; animation: fadein 2000ms ease forwards; }

/* line 174, sass/style.scss */
body { background: #fff; line-height: 1.42857; }

/* line 178, sass/style.scss */
*, *::before, *::after { box-sizing: border-box; }

/************************************
		Other Styles Setup
************************************/
/* line 185, sass/style.scss */
button { border-radius: 5px; background: #C5A069; border: 0; color: white; }

/* line 191, sass/style.scss */
a { text-decoration: none; color: #4A4a4a; }

/* line 195, sass/style.scss */
a:hover { color: #C5A069; }

/* line 198, sass/style.scss */
.pointer { cursor: pointer; }

/* line 201, sass/style.scss */
.cevc { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

/* line 205, sass/style.scss */
.unlist_style { list-style: none; }

/*===========================================================
											HEADER SECTION
===========================================================*/
/************************************
		Mobile
************************************/
/* background setup */
/* line 214, sass/style.scss */
.nav_container { background-repeat: no-repeat; /* custom background-position */ background-position: 50% 50%; /* ie8- graceful degradation */ background-position: 50% 50% \9  !important; }

/* full-screen setup */
/* line 223, sass/style.scss */
html, body { height: 100%; min-width: 320px; }

/* line 227, sass/style.scss */
.fullscreen { width: 100%; min-height: 100%; }

/* line 231, sass/style.scss */
.not-fullscreen, .fullscreen.not-overflow { height: 100%; overflow: hidden; }

/* line 238, sass/style.scss */
.nav_container h1, .nav_container h2, .nav_container h3, .nav_container h4, .nav_container h5, .nav_container i { color: #ffffff; margin-bottom: 0; }

/* line 244, sass/style.scss */
.tool_bar { width: 100%; /*	background-color: rgba(0,0,0,0.8);*/ min-width: 320px; height: 60px; /*	position:fixed;*/ z-index: 200; padding-left: 5%; padding-right: 5%; padding-top: 5%; }
/* line 254, sass/style.scss */
.tool_bar .icon_menu { margin: auto 0; margin-right: 5%; }
/* line 258, sass/style.scss */
.tool_bar i { font-size: 1.75em; width: 55px; height: 55px; padding: 15px; }
/* line 264, sass/style.scss */
.tool_bar .fix_test { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-box-pack: space-between; -webkit-justify-content: space-between; -ms-flex-pack: space-between; justify-content: space-between; width: 100%; max-width: 1268px; height: 60px; margin: 0 auto; padding-left: 20px; }
/* line 273, sass/style.scss */
.tool_bar .fix_test img { height: 35px; margin: auto 0; }

/* line 280, sass/style.scss */
.menu_overlay { position: fixed; right: -1000px; top: 60px; z-index: 200; width: 61.8%; background: rgba(0, 0, 0, 0.8); height: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
/* line 289, sass/style.scss */
.menu_overlay ul { white-space: nowrap; display: block; font-size: 1em; font-weight: 500; margin: 0; padding: 25px; }
/* line 296, sass/style.scss */
.menu_overlay ul li { height: 50px; border-top: 1px solid #c9c9c9; }
/* line 299, sass/style.scss */
.menu_overlay ul li:first-child { border: none; }
/* line 302, sass/style.scss */
.menu_overlay ul li a { display: block; text-decoration: none; color: #84D9C9; font-weight: 600; padding: 15px 0 15px 0; }
/* line 308, sass/style.scss */
.menu_overlay ul li a:active { color: #000000; }

/* line 313, sass/style.scss */
.menu_overlay_push { right: 0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }

/* line 317, sass/style.scss */
.home_content_container { width: 100%; min-width: 320px; position: absolute; padding-left: 5%; top: 35%; }

/* line 324, sass/style.scss */
.home_content { width: 100%; max-width: 1268px; margin: 0 auto; }
/* line 328, sass/style.scss */
.home_content h1 { margin-bottom: 22px; }
/* line 331, sass/style.scss */
.home_content p { margin: 0; padding: 0; font-size: 0.95em; word-spacing: wrap; }

/* line 339, sass/style.scss */
.anim_fadeup { -webkit-animation: fadeup 1200ms ease forwards; animation: fadeup 1200ms ease forwards; }

/* line 345, sass/style.scss */
.under_bk { -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; -webkit-align-self: flex-end; -ms-flex-item-align: flex-end; align-self: flex-end; position: absolute; bottom: 0; background: #1F3B70; width: 100%; height: 100px; font-weight: 600; }
/* line 354, sass/style.scss */
.under_bk button { width: 150px; height: 50px; }
/* line 358, sass/style.scss */
.under_bk button:nth-child(2) { background: none; border: 2px solid #fff; }
/* line 361, sass/style.scss */
.under_bk button:nth-child(2):hover { background: #fff; color: #000; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }

/* line 369, sass/style.scss */
.overlay { display: none; z-index: 100; position: fixed; background-color: rgba(0, 0, 0, 0.3); width: 100%; height: 100%; }

/* line 377, sass/style.scss */
.clear_fix { content: ""; display: block; clear: both; visibility: hidden; }

/************************************
		Desktop
************************************/
/* line 386, sass/style.scss */
.nav_bar { display: none; }
/* line 389, sass/style.scss */
.nav_bar ul { list-style: none; display: inline-block; white-space: nowrap; padding-top: 25px; padding-left: 0; margin: 0; }
/* line 396, sass/style.scss */
.nav_bar ul li { float: left; font-size: 1.5em; width: 95px; text-align: center; /*			margin-bottom:5px;*/ margin-left: 20px; }
/* line 403, sass/style.scss */
.nav_bar ul li:hover, .nav_bar ul li:focus { border-bottom: 2px solid #C5A069; color: #fff; text-decoration: none; }
/* line 408, sass/style.scss */
.nav_bar ul li a { display: block; color: #fff; /*				padding:0 13px;
				padding-bottom:10px;*/ }
/* line 414, sass/style.scss */
.nav_bar ul li a:hover { color: #fff; text-decoration: none; }
/* line 415, sass/style.scss */
.nav_bar ul li a:focus { color: #C5A069; text-decoration: none; }

/* line 419, sass/style.scss */
.d_under_bk { display: none; width: 100%; height: 100px; font-weight: 600; }
/* line 424, sass/style.scss */
.d_under_bk button { margin-top: 30px; margin-right: 20px; width: 125px; height: 45px; font-size: 0.85em; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }
/* line 432, sass/style.scss */
.d_under_bk button:nth-child(2) { background: none; border: 2px solid #fff; }
/* line 435, sass/style.scss */
.d_under_bk button:nth-child(2):hover { background: #fff; color: #000; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }

/*===========================================================
											2ND PAGE SECTION
===========================================================*/
/************************************
		Mobile
************************************/
/* line 448, sass/style.scss */
.second_page { display: block; background: #fff; width: 100%; padding: 10px 5% 10px 5%; text-align: justify; color: #000000; }
/* line 455, sass/style.scss */
.second_page h2 { margin-bottom: 10px; text-align: center; padding-top: 5%; }
/* line 460, sass/style.scss */
.second_page p { padding: 5% 20%; }

/* line 465, sass/style.scss */
.container_box { max-width: 1268px; margin: 0 auto; }

/* line 469, sass/style.scss */
.container_box_dk { max-width: 1268px; margin: 0 auto; color: #4A4a4a; padding: 10px 0 10px 0; }

/* line 475, sass/style.scss */
.little_line { height: 2px; width: 75px; border: 2px solid #C5A069; margin-bottom: 10px; }

/* line 478, sass/style.scss */
.wwd { margin: 0; max-width: 1268px; margin: 0 auto; }
/* line 482, sass/style.scss */
.wwd .col-sm-4 { padding: 0; margin: 15px 0; margin-bottom: 35px; }
/* line 486, sass/style.scss */
.wwd .col-sm-4 h4 { font-weight: 600; margin: 15px auto; border-left: 5px solid #C5A069; padding-left: 15px; }
/* line 492, sass/style.scss */
.wwd .col-sm-4 p, .wwd .col-sm-4 h4 { color: #4A4a4a; }
/* line 495, sass/style.scss */
.wwd .col-sm-4 p { line-height: 1.5em; }
/* line 499, sass/style.scss */
.wwd .col-sm-4 img { max-width: 100%; }

/*===========================================================
											3ND PAGE SECTION - GALLERY
===========================================================*/
/************************************
		Mobile
************************************/
/* line 512, sass/style.scss */
.gallery { background: #F0EFEF; padding: 10px 5% 10px 5%; padding-bottom: 40px; /*	border-top: 1px solid #333;
	border-bottom: 1px solid #333;*/ }

/* line 519, sass/style.scss */
.gl_head { display: block; width: 100%; height: 100px; background: #222222; padding: 10px 5% 10px 5%; }
/* line 525, sass/style.scss */
.gl_head h2 { color: #4A4a4a; margin-bottom: 10px; }

/* line 527, sass/style.scss */
.gl_container { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; background: #F0EFEF; padding: 15px 5% 15px 5%; margin: 0; width: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }

/* line 536, sass/style.scss */
.gl_items { width: 100%; margin: 10px auto; }
/* line 539, sass/style.scss */
.gl_items img { width: 100%; height: auto; border: 5px solid #fff; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
/* line 545, sass/style.scss */
.gl_items span { margin-bottom: 15px; }
/* line 548, sass/style.scss */
.gl_items .gl_subtitle { display: block; width: 100%; color: #fff; font-size: 0.65em; padding-right: 10px; text-align: right; }

/* line 564, sass/style.scss */
.slider_container { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; background: #f0efef; margin: 0; width: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
/* line 571, sass/style.scss */
.slider_container p { color: #fff; text-align: right; margin: 5px 0 20px 0; }
/* line 576, sass/style.scss */
.slider_container .slider_items { margin: 20px auto; }

/* line 584, sass/style.scss */
.no_show { display: none; }

/*===========================================================
											4ND PAGE SECTION - TESTIMONIALS
===========================================================*/
/************************************
		Mobile
************************************/
/* line 597, sass/style.scss */
.testimonial { padding: 10px 5% 10px 5%; color: #fff; }
/* line 600, sass/style.scss */
.testimonial h2 { margin: 5px auto; }

/* line 604, sass/style.scss */
.test_head { background: #fff; display: block; width: 100%; padding-bottom: 10px; margin: 0 auto; max-width: 1268px; }

/* line 612, sass/style.scss */
.desktop_testi_con { margin-top: 30px; }

/* line 615, sass/style.scss */
.testimonial_container { display: block; position: relative; border-top: 1px solid #e9e9e9; width: 90%; height: 100%; margin: 10px auto; padding: 15px; margin-bottom: 70px; min-height: 135px; }
/* line 625, sass/style.scss */
.testimonial_container p { font-style: italic; line-height: 1.85em; }
/* line 629, sass/style.scss */
.testimonial_container img { width: 40px; margin-right: 10px; vertical-align: bottom; }
/* line 634, sass/style.scss */
.testimonial_container .potrait { position: absolute; bottom: -50px; left: 20px; }
/* line 638, sass/style.scss */
.testimonial_container .potrait img { width: 70px; border-radius: 100%; }
/* line 642, sass/style.scss */
.testimonial_container .potrait .t_name { position: absolute; bottom: 20px; left: 100px; white-space: nowrap; font-weight: 600; }

/* line 652, sass/style.scss */
.cn { font-family: "Microsoft YaHei"; letter-spacing: 3px; }

/*===========================================================
											5TH PAGE SECTION - Contact Us
===========================================================*/
/************************************
		Mobile
************************************/
/* line 662, sass/style.scss */
.ccc { background: #fff; /*	border-top: 1px solid #333;
	border-bottom: 1px solid #333;*/ padding: 2% 5% 10px 5%; padding-bottom: 40px; }
/* line 668, sass/style.scss */
.ccc .contact_wrap { max-width: 1268px; margin: 0 auto; /*		margin-top:20px;*/ }

/* line 675, sass/style.scss */
.contact_us h2 { margin: 5px auto; }
/* line 678, sass/style.scss */
.contact_us p { padding: 0; }
/* line 682, sass/style.scss */
.contact_us form .error { border: 1px solid #a94442; box-shadow: 0 0 10px #a94442; }
/* line 685, sass/style.scss */
.contact_us form .error:focus { box-shadow: 0 0 10px #a94442; }
/* line 689, sass/style.scss */
.contact_us form .form_name div, .contact_us form #response { border: 0px; color: #a94442; }
/* line 693, sass/style.scss */
.contact_us form #response { text-align: center; }
/* line 696, sass/style.scss */
.contact_us form .success { color: #3c763d; }

/* line 701, sass/style.scss */
.contact_form_div { color: #4A4a4a; max-width: 1268px; margin: 0 auto; }
/* line 705, sass/style.scss */
.contact_form_div .form_name { margin-bottom: 5px; }
/* line 707, sass/style.scss */
.contact_form_div .form_name div { box-shadow: none; }
/* line 708, sass/style.scss */
.contact_form_div .form_name input, .contact_form_div .form_name textarea { width: 100%; height: 35px; color: #000; border-radius: 5px; padding-left: 10px; background: #f0efef; outline: none; border: 0; border: 1px solid #c5a069; margin-bottom: 5px; }
/* line 719, sass/style.scss */
.contact_form_div .form_name input:focus, .contact_form_div .form_name textarea:focus { box-shadow: 0 0 10px #c5a069; -webkit-transition: box-shadow ease 0.5s; -moz-transition: box-shadow ease 0.5s; transition: box-shadow ease 0.5s; }
/* line 724, sass/style.scss */
.contact_form_div .form_name textarea { height: 150px; }
/* line 728, sass/style.scss */
.contact_form_div .label_p { display: none; width: 100%; margin-right: 10px; }
/* line 732, sass/style.scss */
.contact_form_div .label_p span { margin: 0; font-size: 0.55em; text-align: center; }
/* line 738, sass/style.scss */
.contact_form_div .form_send { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; }
/* line 741, sass/style.scss */
.contact_form_div .form_send input { background: #f0efef; width: 150px; height: 35px; border-radius: 5px; border: 1px solid #c5a069; text-shadow: 2px 2px #fff; margin-top: 5px; font-weight: 400; /*			box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);*/ }

/* line 755, sass/style.scss */
.contact_desk_v { display: block; position: relative; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
/* line 759, sass/style.scss */
.contact_desk_v h2 { margin: 5px auto; }
/* line 762, sass/style.scss */
.contact_desk_v p { color: #4A4a4a; padding: 0; word-wrap: nowrap; }
/* line 767, sass/style.scss */
.contact_desk_v i { width: 30px; }
/* line 770, sass/style.scss */
.contact_desk_v span { margin-right: 32px; }
/* line 771, sass/style.scss */
.contact_desk_v .c_5 { color: #fff; display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
/* line 775, sass/style.scss */
.contact_desk_v .c_5 i { width: 30px; }
/* line 778, sass/style.scss */
.contact_desk_v .c_5 span { margin-left: 20px; }
/* line 783, sass/style.scss */
.contact_desk_v .com_social { position: absolute; top: -40px; right: 25px; text-align: center; width: 150px; height: 40px; background: #f0efef; border: 1px solid #c5a069; display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
/* line 795, sass/style.scss */
.contact_desk_v .com_social span { margin: 0; color: #fff; }
/* line 799, sass/style.scss */
.contact_desk_v .com_social i { border-radius: 50%; background-color: #c5a069; border: 2px solid #fff; width: 25px; height: 25px; box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5); color: #fff; font-size: 1em; text-align: center; padding-top: 4px; margin: 0 10px; text-shadow: 2px 2px #333; }
/* line 813, sass/style.scss */
.contact_desk_v .com_social a:hover { color: #fff; text-decoration: none; }
/* line 819, sass/style.scss */
.contact_desk_v .com_social::after { content: ""; display: block; height: 0; border-left: 15px solid #555; border-bottom: 16px solid transparent; position: absolute; bottom: 0; right: -15px; }

/* line 831, sass/style.scss */
#ad_note { font-size: 0.85em; color: #c5a069; font-style: italic; }

/* line 836, sass/style.scss */
.error { display: inline; }

/* line 840, sass/style.scss */
.jssora12l, .jssora12r { display: block; position: absolute; /* size of arrow element */ width: 30px; height: 46px; cursor: pointer; background: url(images/a12.png) no-repeat; overflow: hidden; }

/* line 850, sass/style.scss */
.jssora12l { background-position: -16px -37px; }

/* line 851, sass/style.scss */
.jssora12r { background-position: -75px -37px; }

/* line 852, sass/style.scss */
.jssora12l:hover { background-position: -136px -37px; }

/* line 853, sass/style.scss */
.jssora12r:hover { background-position: -195px -37px; }

/* line 854, sass/style.scss */
.jssora12l.jssora12ldn { background-position: -256px -37px; }

/* line 855, sass/style.scss */
.jssora12r.jssora12rdn { background-position: -315px -37px; }

/*===========================================================
											6TH PAGE SECTION - MAPS
===========================================================*/
/************************************
		Mobile
************************************/
/* line 862, sass/style.scss */
#map { display: block; width: 100%; height: 45vh; margin: 0 auto; }

/*===========================================================
											Footer
===========================================================*/
/************************************
		Mobile
************************************/
/* line 879, sass/style.scss */
footer { width: 100%; background: #222845; padding-top: 20px; /*	border-top: 1px solid #1f3b70;*/ margin-top: 40px; }
/* line 884, sass/style.scss */
footer p { color: #fff; }

/* line 888, sass/style.scss */
.bottom_footer { /*	padding:20px 5%;
*/ position: relative; max-width: 1268px; margin: 0 auto; min-height: 165px; }
/* line 894, sass/style.scss */
.bottom_footer .copyright { display: block; color: #f0efef; text-align: center; font-size: 0.75em; margin-top: 5%; }
/* line 900, sass/style.scss */
.bottom_footer .copyright span a { color: #f0efef; }
/* line 903, sass/style.scss */
.bottom_footer .copyright span a:hover { color: #c5a069; }
/* line 908, sass/style.scss */
.bottom_footer .footer_menu ul { list-style: none; text-align: center; padding: 0; }
/* line 912, sass/style.scss */
.bottom_footer .footer_menu ul li { position: relative; display: inline-block; font-size: 0.75em; padding: 0 13px; }
/* line 917, sass/style.scss */
.bottom_footer .footer_menu ul li a:hover { color: #C5A069; }

/*===========================================================
											MEDIA QUERY
===========================================================*/
@media screen and (min-width: 768px) { /* line 929, sass/style.scss */
  .menu_overlay, .under_bk { display: none; }
  /* line 930, sass/style.scss */
  .icon_menu { display: none; }
  /* line 933, sass/style.scss */
  .nav_bar, .d_under_bk { display: block; }
  /* line 937, sass/style.scss */
  .wwd .col-sm-4 { padding-right: 25px; padding-left: 25px; }
  /************************************ 		Gallery - Desktop ***********************************/
  /* line 946, sass/style.scss */
  .gl_head { max-width: 1268px; margin: 0 auto; }
  /* line 950, sass/style.scss */
  .gl_container { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; -moz-box: row wrap; -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; padding: 0; max-width: 1268px; margin: 0 auto; }
  /* line 957, sass/style.scss */
  .gl_container .gl_items { width: 320px; margin: 0; padding: 0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
  /************************************ 		Testimonials - DESKTOP ***********************************/
  /* line 968, sass/style.scss */
  .desktop_testi_con { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; -moz-box: row wrap; -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; max-width: 1268px; margin: 0 auto; margin-top: 30px; }
  /* line 975, sass/style.scss */
  .desktop_testi_con .testimonial_container { width: 45%; }
  /************************************ 		CONTACT - DESKTOP ***********************************/
  /* line 982, sass/style.scss */
  .ccc { width: 100%; background: #fff; max-height: 720px; }
  /* line 986, sass/style.scss */
  .ccc .contact_wrap { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; }
  /* line 990, sass/style.scss */
  .contact_us { margin-right: 5%; }
  /* line 994, sass/style.scss */
  .contact_us form .name_input, .contact_us form .number_input { width: 45%; float: left; }
  /* line 998, sass/style.scss */
  .contact_us form .number_input { margin-left: 10%; }
  /* line 1001, sass/style.scss */
  .contact_us form .error { border: 1px solid #a94442; }
  /* line 1003, sass/style.scss */
  .contact_us form .error:focus { box-shadow: 0 0 10px #a94442; }
  /* line 1007, sass/style.scss */
  .contact_us form .form_name div, .contact_us form #response { border: 0px; color: #a94442; }
  /* line 1011, sass/style.scss */
  .contact_us form #response { text-align: center; }
  /* line 1014, sass/style.scss */
  .contact_us form .success { color: #3c763d; }
  /* line 1019, sass/style.scss */
  .contact_desk_v { display: inline; border-left: 4px dashed #f0efef; padding-left: 5%; }
  /* line 1024, sass/style.scss */
  .contact_desk_v #map { height: 350px; }
  /* line 1028, sass/style.scss */
  .contact_form_div .form_name textarea { height: 350px; }
  /************************************ 		Footer - DESKTOP ***********************************/ }
@media screen and (min-width: 1268px) { /* line 1041, sass/style.scss */
  .tool_bar .fix_test img { margin-left: 0; }
  /* line 1044, sass/style.scss */
  .test_head { padding: 0; } }
@media screen and (min-width: 958px) and (max-width: 1015px) { /* fix height issue in map area */
  /* line 1051, sass/style.scss */
  .contact_form_div { margin-top: 32px; } }
